<aside class="layout__sidebar">
    <div class="row">
        <div class="sidebar" role="banner">
            <header role="banner" class="header">
                <div class="header__controls">
                    <div class="search">
                        <form name="searchForm" [formGroup]="searchForm" novalidate (ngSubmit)="searchBlog()">
                            <input name="search" class="input--search" placeholder="Search..." type="search" formControlName="searchFor" />

                            <button type="submit" class="btn--search"></button>
                        </form>
                    </div>
                </div>
                
                <!-- <p class="header__author">Username’s</p> -->
                <h1 class="header__title">Baasic Starter Kit Blog Platform</h1>
                <p class="header__desc">I travel and write of my travelling adventures, the world, the culture and the people.</p>

            </header>
                    
            <nav class="sidebar__navigation" role="navigation">
                <h2 class="sidebar__title">Recent Tags</h2>
                    <ul class="tags group">
                        <li class="tags__item" *ngFor="let tag of tags">
                            <a href="javascript:void(0);" (click)="searchTags(tag)" class="tags__link " title="{{ tag.tag }}">{{ tag.tag }}</a>
                        </li>
                    </ul>
            </nav>
            
            <div class="sidebar__widget header__share">
                <h2 class="sidebar__title">Spread the word</h2>
                    <ul class="smm group">
                        <li class="smm__item">
                            <a class="smm__link" href="https://www.facebook.com/">
                                <img src="assets/img/smm-facebook.svg" alt="Facebook" class="smm__icon">
                            </a>
                        </li>
                        
                        <li class="smm__item">
                            <a class="smm__link" href="https://www.linkedin.com">
                                <img src="assets/img/smm-linkedin.svg" alt="LinkedIn" class="smm__icon">
                            </a>
                        </li>
                            
                        <li class="smm__item">
                            <a class="smm__link" href="https://twitter.com/">
                                <img src="assets/img/smm-twitter.svg" alt="Twitter" class="smm__icon">
                            </a>
                        </li>
                        
                        <li class="smm__item">
                            <a class="smm__link" href="https://github.com/">
                                <img src="assets/img/smm-github.svg" alt="GitHub" class="smm__icon">
                            </a>
                        </li>
                    </ul>
            </div>
            
            <div class="sidebar__widget">
                <h2 class="sidebar__title">Admin</h2>

                <div *ngIf="user?.isAuthenticated">
                    <p class="sidebar__message">Welcome, {{ user?.displayName }}</p>
                    <button type="button" class="btn btn--primary btn--med rounded" (click)="newBlogPost()">New post</button>
                    <baasic-logout (logout)="setEmptyUser()"></baasic-logout>
                </div>
                    
                <div *ngIf="!user?.isAuthenticated">
                    <p class="sidebar__message">To create new blog please </p>
                    <a href="javascript:void(0)" class="btn btn--primary btn--med rounded" [routerLink]="['/login']">login</a> or
                    <a href="javascript:void(0)" class="btn btn--primary btn--med rounded" [routerLink]="['/register']">register</a>
                </div>
            </div>
            
            <footer class="footer" role="contentinfo">
                <div class="footer__info">
                    <p>Copyright @ Blog name</p>
                </div>
                        
                <div class="footer__poweredby">
                    <p>Powered by <a href="http://www.baasic.com">Baasic</a></p>
                </div>
            </footer>
        </div>
    </div>
</aside>