/*------------------------------------*\
    # components.avatar
\*------------------------------------*/

.avatar {
    display: inline-block;
    width: calc($unit * 5);
    height: calc($unit * 5);
    margin-right: calc($unit * 1);
    border-radius: 1000px;
    border: 1px solid color($color-primary lightness(+25%));
    overflow: hidden;
    transition: border-color 250ms;

    &:hover, &:focus, &:active {
        border-color: color($color-primary lightness(+60%));
    }
}
