/*------------------------------------*\
    # components.cards
\*------------------------------------*/

.card {
    position: relative;

    padding: $spacer;

    box-shadow: $z-depth-1;
    border-radius: $global-radial;
    background-color: #fff;
}
