/*------------------------------------*\
    # modules.scrollbar
\*------------------------------------*/

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.4);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.6);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 999px;
}
::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.0) inset;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  box-shadow: 0 0 0 5px hsla(24, 20%, 50%,0.0) inset;
  min-height: 20px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

