/*------------------------------------*\
    # plugins.ui-datepicker
\*------------------------------------*/

.ui-widget-content {
	border: none;
}

.ui-datepicker.ui-widget .ui-datepicker-header {
	background: white;
	padding: calc($unit * 2);
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	top: calc($unit * 2);
}

.ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
	color: white;
	background: $color-primary;
	text-transform: uppercase;
	font-weight: $type-weight-light;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
	background-color: $color-secondary;
}
