/*------------------------------------*\
    # util.padds
\*------------------------------------*/

.padd {
    &--top {
        &--tny {
            padding-top: $unit;
        }
        &--sml {
            padding-top: calc($unit * 2);
        }
        &--med {
            padding-top: calc($unit * 4);
        }
        &--lrg {
            padding-top: calc($unit * 6);
        }
        &--xlrg {
            padding-top: calc($unit * 8);
        }
    }
    &--bottom {
        &--tny {
            padding-bottom: $unit;
        }
        &--sml {
            padding-bottom: calc($unit * 2);
        }
        &--med {
            padding-bottom: calc($unit * 4);
        }
        &--lrg {
            padding-bottom: calc($unit * 6);
        }
        &--xlrg {
            padding-bottom: calc($unit * 8);
        }
    }
    &--push {
        &--tny {
            padding-right: $unit;
        }

        &--sml {
            padding-right: calc($unit * 2);
        }

        &--med {
            padding-right: calc($unit * 4);
        }
    }

    &--pull {
         &--tny {
            padding-left: $unit;
        }

        &--sml {
            padding-left: calc($unit * 2);
        }

        &--med {
            padding-left: calc($unit * 4);
        }
    }
}
